<h1 style="text-decoration:underline; text-align:center"> Tienda </h1>

{{#if Products}}

    {{#each Products}}
        <div class="Card">
            <h4> {{this.title}} &nbsp;</h4>
            <div class="img" style="width: 150px; heigth: 150px; background-color:gray; color: gray">.</div>
            <p> {{this.description}} </p>
            <p> $ {{this.price}} &nbsp;</p>
            <form action="http://localhost:8080/api/cart/addproduct/1/{{this.code}}" method="post">
                <input type="submit" value="Agregar carrito">
            </form>
        </div>
    {{/each}}

{{else}}

    <h2>Sin productos en el servidor</h2>

{{/if}}
