<h1 style="text-decoration:underline; text-align:center"> Tienda </h1>

<form action="http://localhost:8080/api/user/logout" method="get" style="margin: 10px">
    <input type="submit" value="logout">
</form>
<form action="http://localhost:8080/api/cart/{{user.email}}" method="get" style="margin: 10px">
    <input type="submit" value="Carrito">
</form>
<form action="http://localhost:8080/api/user/updateRole" method="post" style="margin: 10px">
    <input type="hidden" name="email" id:"email", value={{user.email}}>
    <input type="submit" value="Cambiar de Rol">
</form>

{{!-- 
{{#if role}}
    <hr>

        <form action="http://localhost:8080/api/product/newproduct" method="post">
            {{#if premium}}
                <input type="hidden" name="creator" id="creator" value="idUser"> 
            {{/if}}
            <input type="text" name="title" placeholder="title">
            <input type="text" name="description" placeholder="description"> 
            <input type="number" name="price" placeholder="price">
            <input type="number" name="stock" placeholder="stock"> 
            <input type="submit" value="Crear Producto">
        </form>

    <hr>
{{/if}} --}}
{{#if Products}}
    <div class="container" style="display: grid; grid-template-columns:repeat(4,1fr); text-align:center; gap:5px">
        {{#each Products as |product|}}
            <div class="Card" style="border:1px solid black; padding:5px; border-radius: 15px;">
                <h4> {{product.title}} &nbsp;</h4>
                <div class="img" style="width: 150px; heigth: 150px; background-color:gray; color: gray">.</div>
                <p> {{product.description}} </p>
                <p> $ {{product.price}} &nbsp;</p>
                <form action="http://localhost:8080/api/cart/addproduct/{{product.Cid}}/{{product._id}}" method="post">
                    <input type="hidden" name="email" value="{{product.email}}">
                    <input type="number" name="quantity" id="quantity" min="0" >
                    <input type="submit" value="Agregar carrito">
                </form>
                <form action="/api/product/delete/{{product.code}}/{{product.email}}" method="post">
                    <input type="submit" value="Eliminar">
                </form>
                {{!-- <a href="/api/product/delete/:{{product.code}}/:{{user.email}}">
                    <button>Eliminar</button> 
                </a> --}}
            </div>  
        {{/each}}
    </div>

{{else}}
    <h2>Sin productos en el servidor</h2>
{{/if}}
